<header>
  <a href="#">{{ blog.logo | safe }}</a>
  <nav>
    <ul>
      <li><a href="#">Всі думки</a></li>
      <li><a href="#">Про</a></li>
      <li><a href="#">Контакт</a></li>
    </ul>
  </nav>
</header>
